<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'de' }}">
  {% include head.html %}
  <body class="{{page.class}}">
    {% include simple-header.html %}
    <main aria-label="Content" class="{{page.title | slugify}}">
      <article>

        <img src="/assets/img/janine-smith-portrait.jpg" alt="Photo of Janine Smith">
        <section>
          {{ content }}
        </section>
      </article>
    </main>
    {% include footer.html %}

    <script>
      // handle body fixed
      function handleNavOpen() {
        console.log('am I handling the click?')
        if (document.getElementById('nav-trigger').checked) 
        {
            document.body.classList.add('menu-open');
          } else {
            document.body.classList.remove('menu-open');
        }
      }
    </script>
  </body>
</html>